body {
    height: 100%;
    width: 100%;
    background-color:black ;
  }
  *{
  /*   border: 1px solid black; */
  /* header area */
  }
  header {
    width:80%;
    height: 140px;
    margin: auto;
    border:#ee2e31;
    color: #f4c095;
    padding: 20px;
  }

  header li {
    display:inline-block;
  /*   Make it look like buttons */
    background-color: #1d7874;
    border: 1px solid black;
    border-radius: 25px;
    margin: 5px;
    padding: 5px;
  }

  li a {
    color: inherit;
    text-decoration:none ;
  }

  header img {
    float: left;
    height: 140px;
  
  }

  h1 {
    text-align: center;
  }

  header nav {
    float:right;
    color:#679289;
    background-color: black;
    border-color: #ee2e31;

  }

  /* main area */
  main {
    border: 5px thick #679289;
      border-radius: 23px;
    color: #f4c095;
    overflow: auto;
  }

  figure {
     display: inline-block;
    margin:10px;
    padding:10px;
  }

  figure img {
    display: center;
     height:300px;
      width:auto;
  }

  article {
    display: center;
     height:300px;
      width:auto;
  }

  /* footer area  */
  footer {
      width:80%;
    height: 140px;
    display: center;
    margin: auto;
    padding: 20px;
    background-color: black;
    color: #f4c095;
    border: 5px  #1d7874;
    border-radius: 23px;
  
  }